doctype html
html
    head
        title Coupon Code
    body
        h1 Congratulations!
        p You have received a coupon code.
        p Your coupon code is: #{coupon_code}
        p Use this code at checkout to avail your discount.
        footer
            p Thank you for choosing our service!